/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
:root {
  --Pink: hsl(322, 100%, 66%);
  --LightPink: hsl(321, 100%, 78%);
  --LightRed: hsl(0, 100%, 63%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --VeryPaleBlue: hsl(207, 100%, 98%);
}
body {
  font-family: "Open Sans", cambria;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  text-align: center;
}
header,
main,
footer {
  width: 100%;
}
h1,
h2,
h3 {
  font-family: "Poppins", calibri;
  font-weight: 700;
}
.c-card-container {
  width: min(100%, 375px);
  margin-inline: auto;
  padding: 0 1rem;
}
header .c-card-container {
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.huddle-logo {
  width: 10rem;
}
.header__btn {
  text-decoration: none;
  color: var(--Pink);
  border: 1px solid var(--Pink);
  padding: 0.2rem 1rem;
  border-radius: 100px;
  cursor: pointer;
}
/* main-section-1 stylings */
main {
  display: grid;
  gap: 5rem;
}
.main__section-1 .c-card-container {
  display: grid;
  gap: 3rem;
}
